@model List<CRUD2.Models._21_22.CaSi>
@{
    ViewData["Title"] = "Cau2";
}


<form asp-action="LietkeCaSi">
    <input type="date" name="Ngay" />
    <button type="submit">Liet Ke </button>
</form>

    @if (Model != null && Model.Count > 0)
{
    <table >
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Ten Ca Si
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @item.TenCaSi
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
}