@model _22_23.Models.HanhKhach


<form asp-action="ThemHanhKhach" method="post">
    <input type="text" asp-for="MaHK" />
    <input type="text" asp-for="HoTen" />
    <input type="text" asp-for="DiaChi" />
    <input type="number" asp-for="DienThoai" />
    <button type="submit">Thêm</button>
</form>
